.terraform/
.terraform.lock.hcl
.terraform-version
*.tfstate
*.tfstate.*
*.tfvars
*.tfbackend
*.common.tfbackend
domain.env
/terraform/1_core/services/logsink/sinks.csv
/terraform/1_core/services/logsink/sinks.tf
/terraform/1_core/services/logsink/destinations.tf
/terraform/1_core/services/logsink/iam.tf
/terraform/1_core/services/logsink/data.tf

env
memo*
TODO.md
.DS_Store
.netrc
